<section class="contact">
  <img src="assets/images/info-bg.png" alt="Background" class="background-image" />
  <div class="container">

    <!-- Map -->
  <div class="map">
  <iframe
    src="https://www.google.com/maps?q=Riyadh&output=embed"
    width="100%"
    height="350"
    style="border:0; border-radius:20px;"
    allowfullscreen=""
    loading="lazy">
  </iframe>
</div>

    <!-- Content -->
    <div class="info">
      <h2>استفساراتك محط اهتمامنا!</h2>

      <p>
        في سوليوشن كور، نمنحك طرق تواصل سريعة ومستدامة،
        لتكون دائماً على مقربة مما يهمك.
        تواصل معنا واكتشف المزيد 🚀
      </p>

      <div class="details">
        <div class="item">
          <span>info@solutioncore.sa</span>
          <i>✉️</i>
        </div>

        <div class="item">
          <span>الرياض - طريق الملك عبدالعزيز - شارع بن كثير</span>
          <i>📍</i>
        </div>

        <div class="item">
          <span>+966 440 66 2</span>
          <i>📞</i>
        </div>
      </div>

      <button class="btn">تواصل معنا</button>
    </div>

  </div>
</section>
