<nav class="navbar" dir="rtl">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-logo">
      <img src="/Logo 1.svg" alt="Logo" />
    </div>

    <!-- Navigation Links -->
<ul class="nav-menu">
  <li><a routerLink="/">الرئيسية</a></li>
  <li><a routerLink="/who-we-are">من نحن</a></li>
  <li><a routerLink="/our-services">خدماتنا</a></li>
  <li><a routerLink="/contact-us">تواصل معنا</a></li>
</ul>

    <!-- Contact Button -->
    <a class="contact-btn">
      <i class="fa-solid fa-phone"></i>
      <span class="contact-txt">تواصل معنا</span>
    </a>
  </div>
</nav>
