<div class="services-section-bg">
  <div class="services-section-content">
    <div class="services-section-title">
      نقدم لك أفضل الحلول اللي تحتاجها لتحقيق النجاح والنمو
    </div>
  <div class="services-section-grid">
      <div class="service-item">
        <img src="/Photography-1.svg" alt="التصوير الإعلاني" class="service-icon service-icon-2">
      </div>
      <div class="service-item">
        <img src="/Marketing.svg" alt="التسويق الإلكتروني" class="service-icon service-icon-3">
      </div>
      <div class="service-item">
        <img src="/Photography.svg" alt="الاستشارات" class="service-icon service-icon-4">
      </div>
  </div>

  <div class="services-section-grid-2">
      <div class="service-item1">
        <img src="/Consultancy.svg" alt="إنشاء المتاجر الإلكترونية" class="service-icon service-icon-1">
      </div>
      <div class="service-item">
        <img src="/Programming.svg" alt="البرمجة" class="service-icon service-icon-5">
    </div>
  </div>

    <button class="services-section-btn">اتصل بنا لعرض فكرتك</button>
  </div>
  <img src="/Vector.svg" alt="s" class="star-1">
  <img src="/Vector.svg" alt="st" class="star-2">
</div>
