<section class="why-us-2-section">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <!-- LEFT SIDE IMAGES -->
      <div class="col-lg-6 images-side">
        <div class="main-image">
          <img src="/main (4).png" />
        </div>

        <div class="small-images">
          <img src="/main (1).png" />

          <img src="/main (3).png" />

          <img src="/main (2).png" />
        </div>
      </div>

      <!-- RIGHT SIDE TEXT -->
      <div class="col-lg-6 text-side">
        <h2 class="title">أكثر من 200 عميل وثقوا بنا وحققنا لهم النمو التحول الرقمي</h2>

        <p class="desc">
          نحن لا نركز فقط على تلبية احتياجات عملائنا، بل نؤمن بأن نجاحنا مرتبط بنجاحهم. نعمل لتقديم
          حلول مبتكرة تساعدهم على التفوق والإبداع.
        </p>

        <div class="stats">
          <div class="stat">
            <h3>98%</h3>
            <span>معدل رضا العملاء</span>
          </div>

          <div class="stat">
            <h3>+100</h3>
            <span>حملة تسويقية</span>
          </div>

          <div class="stat">
            <h3>+250</h3>
            <span>مشروع رقمي</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
