<section class="clients">
  <h2 class="title">عملاء حققوا النمو معنا</h2>

  <div class="logos">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">
    <img src="/pepsi.png" alt="">

  </div>
</section>
