<section class="who-we-are-hero" dir="rtl">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <p class="hero-kicker">من نحن؟</p>

    <h1 class="hero-title">
      <span class="hero-title-highlight">سلوشِن كور</span>
      - حلول ذكية، نجاح رقمي
    </h1>

    <p class="hero-description">
      سلويشن كور اسمك الأول إذا كنت تبغى تتميز في العالم الرقمي! مؤسسة سعودية
      متخصصة في مجالات التسويق الرقمي والحلول البرمجية وفن التصوير الاحترافي، نسعى
      لتمكين خدمة عملائنا من تحقيق التميز والنمو السريع في عالم الأعمال الديناميكي
      من خلال تقديم حلول مبتكرة ومخصصة، تمكّن الشركات والمتاجر من ترسيخ حضورها في
      السوق الرقمي وتوسيع نطاق نجاحها!
    </p>
  </div>
</section>
